.advantage {
  margin: 0;
  padding: 0;
  width: 312px;
  font-family: benton-sans, sans-serif;
  font-style: normal;
  font-weight: 300;
  &__icon {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 90px;
    top: 0;
  }
  &__title {
    margin: 0;
    padding: 1rem 0;
    display: block;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    word-wrap: normal;
  }
  &__text {
    margin: 0 auto;
    padding: 0;
    width: 74%;
    font-size: 14px;
    text-align: center;
    word-wrap: break-word;
  }
}
