.advantage {
  margin: 0;
  padding: 0;
  width: 18%;
  &__icon {
    margin: 20px auto;
    padding: 0;
    display: block;
    width: 90px;
    top: 0;
  }
  &__title {
    margin: 0;
    padding: 1rem 0;
    display: block;
    font-size: 32px;
    text-align: center;
    word-wrap: normal;
  }
  &__text {
    margin: 0;
    padding: 0;
    display: block;
    font-size: 20px;
    text-align: center;
    flex-wrap: wrap;
    word-wrap: normal;
  }
}
