.slidy-toggle {
  position: relative;
  width: 35px;
  height: 20px;
  background-color: gray;
  border-radius: 10px;
  cursor: pointer;
  &--off {
    &::before {
      position: absolute;
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: rgb(122, 6, 35);
    }
  }
  &--on {
    &::before {
      position: absolute;
      left: 15px;
      content: "";
      display: block;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: rgb(58, 122, 6);
    }
  }
}
