.home-offers {
  .home-offer-desctop {
    &__row-details {
      display: flex;
      justify-items: center;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 100%;
      justify-content: space-between;
    }

    &__image {
      width: 60%;
      display: flex;
    }

    &__details {
      display: flex;
      width: 40%;
      min-height: 500px;

      &__frame {
        margin: 0 0 0 20px;
        display: block;
        object-fit: contain;
        width: 100%;
      }

      // display: block;
      // object-fit: contain;
    }
  }
}
