.home-offers {
  .home-offer-desctop {
    &__row-details {
      display: flex;
      margin-top: 40px;
    }

    &__image {
      width: 60%;
      display: flex;
    }

    &__details {
      display: flex;
      width: 40%;
      margin-left: 20px;
      min-height: 500px;
      flex-direction: column;
      align-content: space-between;

      &__frame {
        display: block;
        object-fit: contain;
        height: 100%;
      }
    }
  }
  &--offers-page {
    .home-offer-desctop {
      &__row-details {
        margin: 0;
      }
      &__image {
        width: 40%;
      }
      &__details {
        min-height: 300px;
        margin: 0 90px;
      }
      &__button {
        margin: 20px 0 10px 0;
      }
    }
    &--even {
      .home-offer-desctop {
        background-color: rgb(239, 239, 239);
        &__row-details {
          flex-direction: row-reverse;
        }
      }
    }
  }
}
