.form-canvas {
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;

  &--hiden {
    display: none;
  }
  .container {
    .form {
      position: fixed;
      top: 50px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 600px;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      background-color: white;
      border: 1px solid gray;
      border-radius: 2px;
      box-shadow: 0 0 10px 1px gray;
      @media all and(max-width:800px) {
        width: 90%;
      }
      h4 {
        font-size: 38px;
        text-align: center;
        margin: -45px 0 0 0;
        @media all and(max-width:450px) {
          font-size: 30px;
          margin: -40px 0 0 0;
        }
      }

      input[type="text"] {
        display: block;
        margin: 20px auto;
        width: 80%;
        font-size: 14px;
        padding: 1rem 2rem;
        border: 1px solid gray;
        border-radius: 2px;
        color: black;
        &::placeholder {
          color: black;
        }
      }

      input[name="hasOfferAddress"] {
        &::placeholder {
          color: gray;
        }
      }
      input[type="submit"] {
        cursor: pointer;
        margin: 0px 0 30px 0;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.5rem 4rem;
        color: white;
        background-color: black;
        border: 1px solid gray;
      }
      span {
        cursor: pointer;
        padding: 0 10px;
        color: white;
        font-size: 27px;
        background-color: black;
        margin: 15px 15px 0px auto;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }
        @media all and(max-width:450px) {
          font-size: 22px;
          padding: 1px 8px 0 8px;
        }
      }
    }
  }
}
