.offer {
  .offer-details {
    display: flex;
    &__column {
      width: 50%;
      margin: 45px 0;
      font-size: 26px;
      span {
        font-weight: bold;
        padding-left: 4px;
      }
      &--right {
        p {
          padding-left: 200px;
        }
      }
    }
  }
  h2 {
    text-align: center;
    font-size: 42px;
    font-weight: normal;
    margin: 40px;
  }
  &__gallery {
    width: 100%;
    display: grid;
    grid-row-gap: 20px;
    img {
      width: 100%;
      content: fill;
    }
  }
}
