.offer-footer {
  border-top: 1px solid gray;
  margin-top: 50px;
  .footer-container {
    display: flex;
    align-items: center;
    align-content: space-between;
    margin: 45px auto;
    @media all and(max-width:800px) {
      flex-direction: column;
    }
    .footer-left {
      width: 50%;
      p {
        font-size: 36px;
        font-weight: lighter;
        margin: 0;
      }
      @media all and(max-width:800px) {
        width: 100%;
        p {
          text-align: center;
        }
      }
    }
    .footer-right {
      width: 50%;
      text-align: right;
      a {
        text-decoration: none;
        color: black;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        padding: 1rem 1.5rem;
        border: 1px solid black;
        border-radius: 2px;
        &:hover {
          text-shadow: 0px 0px 1px black;
          box-shadow: 0px 0px 1px black;
        }
      }
      @media all and(max-width:800px) {
        width: 100%;
        text-align: center;
        margin: 40px 0;
      }
    }
  }
}
