.offer-mobile {
  margin: 0;
  &__img {
    margin: 0 0 30px 0;
    position: relative;
    img {
      max-width: 100%;
      height: auto;
      object-fit: fill;
    }
  }
  &__price {
    width: 100px;
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    z-index: 10;
    bottom: 10px;
    left: 10px;
    p {
      margin: 0;
      padding: 10px;
      font-size: 18px;
      font-weight: 600;
      color: white;
      text-align: center;
    }
  }
  &__description {
    margin-top: 10px;
    font-size: 16px;
    color: black;
    span {
      font-weight: 600;
    }
  }
}
