.advantages-section {
  margin: 0;
  padding: 0;

  h2 {
    text-align: center;
    color: lighten($color: #000000, $amount: 40);
    font-weight: 300;
  }
  &__field {
    margin: 4rem;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: space-around;
    a {
      text-decoration: none;
      text-align: center;
      color: lighten($color: #000000, $amount: 40);
      font-weight: 300;
      display: block;

      .advantage-field {
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;

        img {
          margin: 0;
          padding: 0;
          display: block;
          width: 100%;
        }
        h3 {
          margin: 0;
          padding: 0;
          font-size: 1.5rem;
          text-align: center;
          line-break: auto;
          width: 80%;
        }
        p {
          margin: 0;
          padding: 0;
          line-break: auto;
          width: 80%;
        }
      }
    }
  }
}
