.header-offer-btn-row {
  text-align: center;
  @media all and(max-width: 800px) {
    display: none;
  }
}
.header-offer-btn {
  text-align: center;
  margin: 0px auto;
  padding: 1rem 1.5rem;
  display: inline-block;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  font-family: benton-sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: darken($color: white, $amount: 2);
    cursor: pointer;
    img {
      display: inline-block;
      margin-right: -5px;
      margin-left: 5px;
    }
  }
  &:focus {
    border-color: white;
  }
  img {
    padding-right: 10px;
    margin-bottom: 5px;
    height: 20px;
    display: inline-block;
  }
}
