.header-button-row {
  text-align: center;
}
.header-button {
  text-align: center;
  margin: 0px auto;
  padding: 1rem;
  display: inline-block;
  background-color: white;
  color: black;
  font-family: benton-sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    background-color: darken($color: white, $amount: 5);
    color: lighten($color: #000000, $amount: 2);
    text-decoration: none;
    cursor: pointer;
    img {
      display: inline-block;
      margin-right: -5px;
      margin-left: 5px;
    }
  }
  &:focus {
    border-color: white;
  }
  img {
    padding-right: 10px;
    margin-bottom: 5px;
    height: 20px;
    display: inline-block;
  }
}
