.header-button {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;

  a {
    margin: 0px auto 400px auto;
    padding: 30px 0;
    display: block;
    background-color: white;
    width: 312px;
    height: 80px;
    color: black;
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
      background-color: darken($color: white, $amount: 15);
      color: lighten($color: #000000, $amount: 15);
      img {
        display: inline-block;
        padding-right: 5px;
      }
      &:focus {
        border-block-color: white;
      }
    }
    img {
      margin: -5px 5px 0 -4px;
      padding-right: 10px;
      height: 20px;
      display: inline-block;
    }
  }
}
