.header {
  background-color: rgb(36, 33, 33);
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../images/header_background_image_home.png");
  background-repeat: no-repeat;
  top: 0;
  left: 0;

  .container {
    position: relative;
  }
  &__logo {
    margin: 42px 0px;
    @media all and(max-width:1350px) {
      margin: 42px 42px;
    }
  }
  &__burger {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 42px;
    right: 21px;
    display: none;
    @media all and(max-width:1350px) {
      display: inline-block;
    }
  }
  &__nav-bar {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    position: absolute;
    top: 42px;
    right: 0;

    @media all and(max-width:1350px) {
      display: none;
    }

    &__item {
      margin: 0;
      padding: 21px;
      a {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: benton-sans;

        &:hover {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
