.header {
  background-color: rgb(36, 33, 33);
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../images/header_background_image_home.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;

  .container--header {
    padding-bottom: 350px;

    @media all and(max-width:800px) {
      padding-bottom: 100px;
    }
    &--offer-page {
      padding-bottom: 100px;
      &--mobile {
        position: relative;
        padding-bottom: 0;
        .header {
          &__top {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            padding: 20px 0;
            &__logo {
              margin: 0 22px;
              width: 44px;
              height: 44px;
            }
          }
        }
      }
    }
  }
  &__top {
    padding: 42px 0px;
    display: flex;
    align-content: center;
    @media all and(max-width:800px) {
      &--menu-opened {
        align-content: center;
        width: 100%;
        padding: 42px 15px;
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
      }
    }

    &__logo {
      flex-grow: 0;
    }
    &__nav {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      @media all and(max-width:800px) {
        flex-direction: column-reverse;
      }

      .header-nav-bar {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;

        @media all and(max-width:800px) {
          flex-direction: column;
          margin: 10px 10px 0 0;
          background-color: black;
          width: 100%;
          z-index: 100;
          position: fixed;
          top: 90px;
          left: 0;
          justify-items: center;
          align-items: center;
          justify-content: center;
          :last-child {
            border-bottom: none;
          }
        }

        &__item {
          margin: 0;
          padding: 21px;
          @media all and(max-width:800px) {
            padding: 10px 0px;
            width: 100%;
            text-align: center;
            border-bottom: 1px solid white;
          }
          a {
            margin: 0;
            padding: 0;
            text-decoration: none;
            color: white;
            font-size: 18px;
            font-family: benton-sans;
            @media all and(max-width:800px) {
              font-size: 20px;
              display: block;
              padding: 20px 0;
              text-align: center;
            }

            &:hover {
              text-decoration: none;
              color: darken($color: white, $amount: 20);
            }
          }
        }
      }
      &__burger {
        width: 48px;
        height: 48px;
        display: none;
        &:hover {
          cursor: pointer;
          border: 1px solid white;
        }
        @media all and(max-width:800px) {
          display: block;
          fill: white;
          margin-right: 22px;
        }
      }
    }
  }
}
