.preview-image {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-content: center;
  justify-items: center;
  align-items: center;

  img {
    cursor: pointer;
    width: 100%;
    max-height: auto;
    z-index: 1001;
    display: block;
    object-fit: cover;
    position: relative;
  }
  &__arrow-left {
    position: absolute;
    font-size: 120px;
    cursor: pointer;
    padding: 20px;
    top: 50%;
    left: 20px;
    transform: translate(50%, -50%);
    fill: white;
    color: white;
    filter: drop-shadow(0px 0px 6px black);
    z-index: 1010;
    &:hover {
      filter: drop-shadow(0px 0px 10px black);
    }
  }
  &__arrow-right {
    position: absolute;
    font-size: 120px;
    cursor: pointer;
    padding: 20px;
    top: 50%;
    right: 20px;
    transform: translate(-50%, -50%);
    fill: white;
    color: white;
    filter: drop-shadow(0px 0px 6px black);
    z-index: 1010;
    &:hover {
      filter: drop-shadow(0px 0px 10px black);
    }
  }
  &__close-button {
    font-size: 100px;
    position: absolute;
    cursor: pointer;
    padding: 20px;
    top: 25px;
    right: 50px;
    color: white;
    filter: drop-shadow(0px 0px 6px black);
    z-index: 1010;
    &:hover {
      filter: drop-shadow(0px 0px 10px black);
    }
  }
}
