.testimonial {
  margin: 0 auto;
  margin-bottom: 60px;
  text-align: center;
  @media all and(max-width:1000px) {
    margin-bottom: 0;
  }
  &__avatar {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
    text-align: center;
  }
  &__signature {
    margin: 40px auto 0 auto;

    padding: 1rem 0;
    display: block;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  &__content {
    margin: 0 auto;
    padding: 0;
    width: 74%;
    font-size: 14px;
    text-align: center;
    word-wrap: break-word;
    @media all and (max-width: 1000px) {
      width: 100%;
    }
  }
}
