.headline {
  margin: 0;
  padding: 2rem 0;
  &__title {
    margin: 0;
    padding: 0;
    font-size: 38px;
    font-family: benton-sans, sans-serif;
    font-style: normal;
    font-weight: 300;
    text-transform: capitalize;
    color: black;
    text-align: center;
  }
  &--offer-page {
    display: none;
    @media all and(max-width:800px) {
      display: block;
      .headline__title {
        text-transform: none;
        font-size: 34px;
      }
    }
  }
}
