@import "node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
  width: 100%;
  font-family: benton-sans;
}
.container {
  margin: auto;
  padding: 0 15px;
  max-width: 1350px;
}
.container-fluid {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.header--offer-page {
  padding: 40px 0 42px 0;
}
